<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/view/styles/popup.css">
</head>
<body>

    <div class="float float-left">
        <span><b>Pestaña seleccionada</b></span> 
        <span id="selectedTabMessage" class="warningMessage"></span>
    </div>

    <div class="float float-right">
        <img id="copyID" src="/icon/id.svg" width="20px">
    </div>

    <div id="selectedTab">
        <div id="selectedImageTab"></div>
        <h3 id="infoTitle">&nbsp;</h3>
        </div>
    </div>


    <div id="tabsSection">
        <span><b>Seleccione una pestaña</b></span>
        <div id="tabsContainer"></div>
    </div>


    <script src="/view/scripts/main.js"></script>
</body>
</html>