<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/view/styles/popup.css">
</head>
<body>

    <span><b>Pestaña seleccionada</b></span> 
    <span id="selectedTabMessage" class="warningMessage"></span>

    <div id="selectedTab">
        <div id="selectedImageTab"></div>
        <div id="selectedInfoTab">
            <h3 id="infoTitle">-</h3>
            <b>ID</b>: <span id="infoID">-</span>
        </div>
    </div>

    <hr>

    <span><b>Seleccione una pestaña</b></span>
    <div id="tabsContainer"></div>


    <script src="/view/scripts/main.js"></script>
</body>
</html>